*{
	padding: 0;
	margin: 0;
}
body{
	background: #060c21;
}
.container{
	width: 360px;
	padding: 50px;
	position: relative;
	margin: 0 auto;

}
.box{
	width: 360px;
	height: 640px;
	background: rgba(0 , 0 ,0 ,1);
	position: absolute;
	transition: .5s;
	/*效果*/
	transform: rotate(-30deg) skew(25deg) scale(.8);
}
.box img{
	width: 100%;
	height: 100%;
	transition: .5s;
	position: absolute;
}

.box:hover img:nth-child(4){
	transform: translate(80px , -80px);
	opacity: 1
}
.box:hover img:nth-child(3){
	transform: translate(60px , -60px);
	opacity: .8
}
.box:hover img:nth-child(2){
	transform: translate(40px , -40px);
	opacity: .6
}
.box:hover img:nth-child(1){
	transform: translate(20px , -20px);
	opacity: .4
}
.box:hover{
	background: rgba(0 ,0 ,0 , .1);
	box-shadow: 0 0 45px #00bcd4;
}