* {
    padding: 0;
    margin: 0;
}
.container {
    padding-top: 50px;
}
/**
标题下的横线
*/
h3 {
    text-align: center;
    text-transform: uppercase;
}
.line {
    height: 4px;
    background: #333333;
    width: 80px;
    margin: 15px auto;
}
.content {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.img {
    flex: 25%;
    overflow: hidden;
    border: 5px solid white;
    box-sizing: border-box;
}
.img img {
    width: 100%;
    transition: 0.4s;
}
.img:hover img {
    transform: rotate(15deg) scale(1.5);
}
@media screen and (max-width: 768px) {
    .img {
        flex: 33.3333%;
    }
} 
@media screen and (max-width: 660px) {
    .img {
        flex: 50%;
    }
} 
@media screen and (max-width: 560px) {
    .img {
        flex: 100%;
    }
} 
