* { padding: 0; margin: 0; }
  html { scroll-behavior: smooth; }
  #toc {
    margin: 30px auto 0 auto;
    width: calc(185px * 5);
  }
  #toc a {
    width: 155px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: darkcyan;
    color: #fff;
    padding: 24px 0;
    border-radius: 6px;
    box-shadow: 2px 2px 15px salmon;
    transition: .4s;
  }
  #toc a:hover {
    box-shadow: 0 0 20px salmon;
    filter: brightness(110%);
  }
  ul { 
    width: calc(100% - 60px); 
    display: block; 
    overflow: hidden; 
    margin: 0 30px; 
  }
  li {
    width: 100%;
    min-height: 25vh;
    border: 10px solid salmon;
    box-sizing: border-box;
    background-color: darkcyan;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 24px;
    border-radius: 6px;
  }
  li:nth-child(2n) {
    border-color: darkcyan;
    background-color: salmon;
  }
  .back-top {
    width: 50px;
    height: 50px;
    background-color: salmon;
    border-radius: 50%;
    position: fixed;
    bottom: 30vh;
    right: 30px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }
  @media screen and (max-width: calc(185px * 5)) {
    #toc {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 30px 0 0;
    }
    #toc a {
      margin: 0 15px 30px 15px;
    }
  }
