*{
	padding: 0;
	margin: 0;	
}
body{
	background: #060c21;
}

#wallpaper{
	padding: 50px 0;
}
.box{
	min-width: 100px;
	width: 200px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	color: white;
	background: #060c21;
	transition: all .4s ease;
	padding: 15px;
}
.box:before,
.box:after{
	content: '';
	position: absolute;
	background: #fff;
	top: 2px;
	right: 2px;
	bottom: -2px;
	left: -2px;
	z-index: -1;
	background: linear-gradient(235deg , #89ff00 , #060c21 , #00bcd4);
	-webkit-filter: blur(10px);
	filter: blur(10px);
	transition: all 1s ease;
}
.box:after{
	top: -2px;
	right: -2px;
	bottom: 2px;
	left: 2px;
	z-index: -2;
}
.box:hover:after{
	-webkit-filter: blur(40px);
	filter: blur(40px); 
}
.box:hover{
	border-radius: 20% 0 20% 0;
}