* {

}
body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.container {
  width: 1200px;
  margin: 20px auto;
  padding: 0 10px;
  column-count: 5;
  -moz-column-gap:40px; /* Firefox */
  -webkit-column-gap:40px; /* Safari and Chrome */
  column-gap:40px;
}
.container .item {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  overflow: hidden;
  background-color: #ffffff;
  break-inside: avoid;
  border: 1px solid #ccc;
}
.item img {
  width: 100%;
}
.item h2 {
  margin: 10px 0 0;
  padding: 0;
}
.item {
  padding: 0 0 10px;
}
@media screen and (max-width: 1200px) {
  .container {
    column-count: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    column-count: 2;
  }
}
@media screen and (max-width: 480px) {
  .container {
    column-count: 1;
  }
}
