* {
	padding: 0;
	margin: 0;
}
header {
	height: 100px;
	padding: 0 20px;
	background: #34495e;
	text-transform: uppercase;
	color: #ffffff;
}
h2 {
	float: left;
	line-height: 100px;
	cursor: pointer;
}
.menu {
	float: right;
	line-height: 100px;
	z-index: 9999;
}
.menu a {
	padding: 0 20px;
	text-decoration: none;
	transition: 0.3s;
	color: #ffffff;
}
.showMenuBtn,
.hideMenuBtn {
	font-size: 30px;
	display: none;
}
.menu a:hover,
.showMenuBtn:hover,
.hideMenuBtn:hover {
	color: #3498db;
	cursor: pointer;
}

#checkbox {
	z-index: -9999;
	visibility: hidden;
}
@media screen and (max-width: 800px) {
	.showMenuBtn,
	.hideMenuBtn {
		position: absolute;
		top: 30px;
		right: 30px;
		display: block;
	}
	.showMenuBtn {

	}
	.hideMenuBtn {
		top: 15px;
		right: 30px;
	}
	.menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		padding-top: 50px;
		line-height: normal;
		background: #333333;
		transition: 0.7s; 
		z-index: 999;
		top: 0;
		right: -100%;
	}
	.menu a {
		display: block;
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 20px 0;
	}
	#checkbox:checked ~ .menu {
		right: 0;
	}
}
